@model ITSupport.Models.Course
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style type="text/css">
    img {
        width: 200px;
        margin-bottom: 20px;
    }
</style>
<h2 style="text-align:center">
    Chi Tiết Khóa Học
</h2>
<div style="text-align:center">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên khóa học:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Mô tả:
        </dt>
        <dd>
            @Html.Raw(@Model.Describe.ToString().Replace("\n", "</p><p>&nbsp&nbsp&nbsp&nbsp&nbsp"))
        </dd>
        <dt>
            Ảnh bìa:
        </dt>
        <dd>
            <img src="~/Asset/Image/@Model.Images" alt=" @Model.Name">
        </dd>
        <dt>
            Ngày cập nhật:
        </dt>
        <dd>
            @Html.FormatValue(@Model.CreateDate, "{0:dd/MM/yyyy}")
        </dd>
        <dt>
            Giá khóa học:
        </dt>
        <dd>
            @Html.FormatValue(@Model.Saleprice, "{0:#,##0}") VNĐ
        </dd>
        <dt>
            Khóa Học:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Topic.NameTopic)
        </dd>
        <dt>
            Nhà Hợp Tác:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublishingHouse.NamePH)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.IDCourse }) |
    @Html.ActionLink("VỀ TRANG QUẢN LÝ SÁCH", "Index")
</p>
